* {
  box-sizing: border-box;
  line-height: 1.4rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

.App-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  max-width: 800px;
  width: 100%;
  padding: 0 20px;
}

header {
  background-image: url('./hero.jpg');
  background-size: cover;
  color: khaki;
  text-shadow: 0px 0px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 300px;
}

header p a {
  color: khaki;
}

h1,
h2,
h3 {
  line-height: 2rem;
  text-align: center;
}

section {
  margin: 60px 0;
}

.monospace-highlight {
  font-family: monospace;
  font-weight: 600;
  font-size: 0.85rem;
  background-color: rgba(54, 162, 235, 0.2);
  padding: 0 2px;
}

.options-selectors {
  border: 1px solid lightgray;
  padding: 20px;
}

#durations-chart {
  margin: 40px 0;
}
